<!DOCTYPE html>
<html>
      <head>
    <title>Target Photogram Golden Seven</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="x2d7E/xPuiJmYveMqK0gmkKPYJg9Nm0fABTnRmpJOWFXCYchlPxnIf5LGlqWnGqU/L8uXPHMzDu+96eD/obe1Q==" />

    <link rel="stylesheet" media="all" href="/assets/application-1c79c29286204cfec74780022d0186e27fc9f09c8b5ae96d566e54dca4b9ce48.css" />
    <script src="/assets/application-a1b05e0595224c422d49fd5ef6dd6cb8f9655f710b432bb9b8a6af9638eca09a.js"></script>
  </head>
  
 
<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="col-md-12">

        <h1>Edit <%=@name%></h1>

<form action="/update_actor/<%=@id%>">
  <div>
    <label for="img_input">
      Image URL
    </label>

    <input id="img_input" type="text" name="img" value="<%=Actor.find(@id).image_url%>">
  </div>

  <div>
    <label for="name_input">
      Name
    </label>

    <input id="name_input" type="text" name="name" value="<%=Actor.find(@id).name%>">
  </div>

  <div>
    <label for="dob_input">
      DOB
    </label>

    <input id="dob_input" type="text" name="dob" value="<%=Actor.find(@id).dob%>">
  </div>

  <button>
    Update Actor
  </button>
</form>


      </div>
    </div>
  </body>
</html>
